* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.75;
  background-color: #E6E6E6;
}
.wrapper{
  position: absolute; /* bilo je fixed */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.4s ease-in-out;
  z-index: 1;
}
#active:checked ~ .wrapper{
  clip-path: circle(75%);
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 21px;
  color: #333;
  cursor: pointer;
  background: #E6E6E6;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
#active:checked ~ .wrapper {
  background: #333;
}
.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  margin: 21px 0;
}
.wrapper ul li a {
  position: relative;
  z-index: 5;
  display: block;
  width: 200px;
  color: none;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  padding: 0;
  color: #E6E6E6;
  border: 1px solid #E6E6E6;
  position: relative;
  line-height: 56px;
  text-align: center;
  transition: all 0.3s ease;
  overflow: hidden;
}
.wrapper ul li a:hover {
  color: #333;
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background-color: #E6E6E6;
  width: 0;
  height: 100%;
  left: 0%;
  z-index: -1;
  transition-duration: 0.5s;
}
.wrapper ul li a:hover:after {
  width: 100%;
}
input[type="checkbox"]{
  display: none;
}
#timeline {
  display: flex;
  background-color: #031625;
}
.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 100vh;
  color: #FFF;
  overflow: hidden;
  transition: width 0.4s ease;
  background-position: center center;
}
.tl-item:before, .tl-item:after {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
}
.tl-item:before {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 85%);
  z-index: 1;
  opacity: 0;
  transform: translate3d(0, 0, 0) translateY(50%);
}
.tl-item:hover {
    width: 30% !important;
}
.tl-item:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease 0.25s;
}
.tl-item:hover .tl-content {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease 0.4s;
}
.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  color: #E6E6E6;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;
}
.tl-content h1 {
  width: 50%;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 1.44rem;
  font-weight: normal;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
.tl-item:hover .tl-year {
  transform: translateX(-50%)translateY(-100%);
  transition: all 0.4s ease 0.4s;
}
.tl-year a {
  display: block;
  font-size: 30px;
  padding: 0px 35px;
  color: #E6E6E6;
  text-decoration: none;
  border: 2px solid #E6E6E6;
}
.tl-bg {
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  background-size: cover;
  background-position: center center;
}
/* FOREST, SEA, MOUNTAINS, PARKS */
.img-slide {
  position: fixed;
  left: 0;
  top: 0;
  width: 35%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  animation-duration: 1.5s;
}
.forest-img {
  background-image: url("img/img-forest.jpg");
}
.sea-img {
  background-image: url("img/img-sea.jpg");
}
.mountains-img {
  background-image: url("img/img-mountains.jpg");
}
.parks-img {
  background-image: url("img/img-parks.jpg");
}
.about-img {
  left: 0;
  top: 0;
  width: 100%;
  height: 120vh;
  background-image: url("img/img-about.jpg");
}
.text {
  position: absolute;
  left: 35%;
  top: 0;
  width: 65%;
  animation-duration: 2s;
  text-align: center;
}
.text h1 {
  width: 350px;
  margin: 0 auto;
  line-height: 90px;
  font-size: 72px;
  font-weight: 600;
  margin-top: 20px;
  border-bottom: 3px solid #333;
}
.text h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 7px;
  letter-spacing: 4px;
}
.forest h1, .forest h2 {
  color: #1e7b1e;
  border-bottom-color: #1e7b1e;
}
.sea h1, .sea h2 {
  color: #0066CC;
  border-bottom-color: #0066CC;
}
.mountains h1, .mountains h2 {
  color: #8C8C8C;
  border-bottom-color: #8C8C8C;
}
.parks h1, .parks h2 {
  color: #90A45B;
  border-bottom-color: #90A45B;
}
.mountains h1 {
  width: 530px;
}
.next, .previous {
  display: block;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 2px solid #333;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.4s;
}
.previous {
  right: 80px;
}
.next i, .previous i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #333;
}
.next:hover, .previous:hover {
  background-color: #333;
}
.next:hover i, .previous:hover i {
  color: #E6E6E6;
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1080px) {
  #timeline {
    display: block;
  }
  .tl-item {
    width: 50%;
    height: 50vh;
    transition: 0.1s;
    float: left;
  }
  .tl-item:hover {
      width: 50% !important;
  }
  .tl-item:hover:before {
    opacity: 0;
  }
  .tl-item:hover .tl-content {
    opacity: 0;
  }
  .tl-item:hover .tl-year {
    transform: translateX(-50%)translateY(-50%);
  }
  .tl-item:hover .tl-year {
    background-color: transparent;
  }
  .tl-year a:hover {
    background-color: #E6E6E6;
    color: #333;
  }
}
@media screen and (max-width: 980px) {
  .menu-btn{
    height: 135px;
    width: 135px;
    line-height: 100px;
    font-size: 58px;
    top: 25px;
    right: 25px;
  }
  .menu-btn i {
    position: absolute;
    top: 37px;
    right: 42px;
  }
  #active:checked ~ .menu-btn i:before{
    position: absolute;
    right: 5px;
  }
  .wrapper ul li{
    margin: 50px 0;
  }
  .wrapper ul li a {
    width: 480px;
    font-size: 74px;
    border: 5px solid #E6E6E6;
    line-height: 150px;
  }
  .tl-item {
    width: 100%;
    height: 46vh;
    transition: 0.1s;
  }
  .tl-item:hover {
      width: 100% !important;
  }
  .tl-year a {
    font-size: 92px;
    border: 5px solid #E6E6E6;
    padding: 0px 60px;
  }
  .tl-year a:hover {
    padding: 5px 70px;
    background-color: #E6E6E6;
    color: #333;
  }
  .img-slide {
    width: 100%;
    height: 32vh;
    animation-duration: 0.8s;
  }
  .text {
    left: 0;
    top: 34%;
    width: 100%;
    animation-duration: 1.5s;
  }
  .text h1 {
    width: 80%;
    line-height: 160px;
    font-size: 124px;
    padding-top: 20px;
    border-bottom: 5px solid #333;
  }
  .text h2 {
    font-size: 48px;
    margin-top: 10px;
    letter-spacing: 6px;
  }
  .forest h1, .forest h2 {
    border-bottom-color: #1e7b1e;
  }
  .sea h1, .sea h2 {
    border-bottom-color: #0066CC;
  }
  .mountains h1, .mountains h2 {
    border-bottom-color: #8C8C8C;
  }
  .mountains h1 {
    width: 90%;
  }
  .next, .previous {
    width: 100px;
    height: 100px;
    border: 3px solid #333;
    transition: 0.1s;
  }
  .previous {
    right: 145px;
  }
  .next i, .previous i {
    font-size: 38px;
  }
  .next i:hover, .previous i:hover {
    color: #E6E6E6;
  }
}
